
<% for (var i = -1; i < riffs.length; i++) { %>
<div class="column is-mobile is-half-tablet is-one-quarter-desktop">
  <div class="tile is-parent">
    <article class="tile is-child box tile-riff" data-id="<% if (riffs && i != -1) { %><%= riffs[i].id %><% } %>" data-authored="<% if (riffs[i]) { if (user) { if (user.dataValues.id === riffs[i].UserId) { %>1<% } else { %>0<% } } else { %>0<% } } else { if (user) { %>1<% } else { %>0<% } }%>">
      <div class="overlay <% if (i != -1) { %> is-riff <% } %>">
        <div class="overlay-text"> + </div>
      </div>
      <div class="tile-shine">
        <div class="tile-title">
          <div class="status-bar">
            <% if (i != -1) { %>
                <% if(riffs[i].favorites[i] != undefined && user) { %>
                  <% let foundFavorite = false; %>
                  <% for (let j = 0; j < riffs[i].favorites.length; j++) { %>
                      <% if (riffs[i].favorites[j].user_id == user.id) { %>
                        <i class="fa fa-star favorite" id="favorite" aria-hidden="true"></i>
                      <% foundFavorite = true; break; } %>
                  <% } %>
                  <% if (!foundFavorite) { %>
                    <i class="fa fa-star-o favorite" id="favorite" aria-hidden="true"></i>
                  <% } %>
                <% } else if(user) { %>
                  <i class="fa fa-star-o favorite" id="favorite" aria-hidden="true"></i>
                <% } %>
            <% } %>
          </div>
          <p class="riff-title">
            <% if (i != -1) { %> <%= riffs[i].title %> <% } else { %> New Riff <% } %>
          </p>
        </div>
        <div class="content">
          <div class="columns is-flex">
            <div class="column is-3">
              <div class="step-wrapper">
                <div class="step step-0"
                     id="step-<% if (i != -1) { %><%= riffs[i].id %><% } %>-0">
                </div>
              </div>
            </div>
            <div class="column is-3">
              <div class="step-wrapper">
                <div class="step step-1"
                     id="step-<% if (i != -1) { %><%= riffs[i].id %><% } %>-1">
                </div>
              </div>
            </div>
            <div class="column is-3">
              <div class="step-wrapper">
                <div class="step step-2"
                     id="step-<% if (i != -1) { %><%= riffs[i].id %><% } %>-2">
                </div>
              </div>
            </div>
            <div class="column is-3">
              <div class="step-wrapper">
                <div class="step step-3"
                     id="step-<% if (i != -1) { %><%= riffs[i].id %><% } %>-3">
                </div>
              </div>
            </div>
          </div>
          <div class="columns is-flex">
            <div class="column">
              <div class="step-wrapper">
                <div class="step step-4"
                     id="step-<% if (i != -1) { %><%= riffs[i].id %><% } %>-4">
                </div>
              </div>
            </div>
            <div class="column">
              <div class="step-wrapper">
                <div class="step step-5"
                     id="step-<% if (i != -1) { %><%= riffs[i].id %><% } %>-5">
                </div>
              </div>
            </div>
            <div class="column">
              <div class="step-wrapper">
                <div class="step step-6"
                     id="step-<% if (i != -1) { %><%= riffs[i].id %><% } %>-6">
                </div>
              </div>
            </div>
            <div class="column">
              <div class="step-wrapper">
                <div class="step step-7"
                     id="step-<% if (i != -1) { %><%= riffs[i].id %><% } %>-7">
                </div>
              </div>
            </div>
          </div>
          <div class="columns is-flex">
            <div class="column is-3">
              <div class="step-wrapper">
                <div class="step step-8"
                     id="step-<% if (i != -1) { %><%= riffs[i].id %><% } %>-8">
                </div>
              </div>
            </div>
            <div class="column is-3">
              <div class="step-wrapper">
                <div class="step step-9"
                     id="step-<% if (i != -1) { %><%= riffs[i].id %><% } %>-9">
                </div>
              </div>
            </div>
            <div class="column is-3">
              <div class="step-wrapper">
                <div class="step step-10"
                     id="step-<% if (i != -1) { %><%= riffs[i].id %><% } %>-10">
                </div>
              </div>
            </div>
            <div class="column is-3">
              <div class="step-wrapper">
                <div class="step step-11"
                     id="step-<% if (i != -1) { %><%= riffs[i].id %><% } %>-11">
                </div>
              </div>
            </div>
          </div>
          <div class="columns is-flex">
            <div class="column is-3">
              <div class="step-wrapper">
                <div class="step step-12"
                     id="step-<% if (i != -1) { %><%= riffs[i].id %><% } %>-12">
                </div>
              </div>
            </div>
            <div class="column is-3">
              <div class="step-wrapper">
                <div class="step step-13"
                     id="step-<% if (i != -1) { %><%= riffs[i].id %><% } %>-13">
                </div>
              </div>
            </div>
            <div class="column is-3">
              <div class="step-wrapper">
                <div class="step step-14"
                     id="step-<% if (i != -1) { %><%= riffs[i].id %><% } %>-14">
                </div>
              </div>
            </div>
            <div class="column is-3">
              <div class="step-wrapper">
                <div class="step step-15"
                     id="step-<% if (i != -1) { %><%= riffs[i].id %><% } %>-15">
                </div>
              </div>
            </div>
          </div>
          <div class="columns control-row is-flex">
            <!--<div class="column box control-bar"></div>
            <div class="control-play is-flex" data-id="<% if (i != -1) { %><%= riffs[i].id %><% } %>">
              <i class="fa fa-5 control-icon fa-play" aria-hidden="true"></i>
            </div>-->
            <div class="tile-controller">
              <input class="controller-btn controller-play tile-radio" type="radio" value="play"
                     name="radio-<% if (i != -1) { %><%= riffs[i].id %><% } %>"
                     data-icon="►" data-id="<% if (i != -1) { %><%= riffs[i].id %><% } %>">
              <input class="controller-btn controller-stop tile-radio" type="radio" value="stop"
                     name="radio-<% if (i != -1) { %><%= riffs[i].id %><% } %>"
                     data-icon="◼" data-id="<% if (i != -1) { %><%= riffs[i].id %><% } %>">
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
<% } %>
